@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #CCCCCC;
    overflow: hidden
}

div.background {
    position: absolute;
    width: 110%;
    height: 110%;
    transform: translate(-5%, -5%);
    background: #000000; /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to bottom, #000000 50%, #111); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to bottom, #000000 50%, #111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -999;
}

h1, h2, h3, h4, h5, h6 {
    color: #EEEEEE;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #CCCCCC;
    text-decoration: none;
    border-bottom: 1px solid #aaaaaa;
}

div.content {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 18px;
    background: rgba(32,32,32,0.15);
    -webkit-filter: blur(0px) !important;
    -moz-filter: blur(0px) !important;
    -o-filter: blur(0px) !important;
    -ms-filter: blur(0px) !important;
    filter: blur(0px) !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(192,192,192,0.5);
}

